## Chocolate rating
Cleaning process and basic analysis

In [5]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [8]:
#importing the data file
df = pd.read_csv('C:\\Users\\banda\\Chocolate\\02 Data\\Original data\\flavors_of_cacao.csv', encoding='ISO-8859-1', index_col=False)

In [9]:
# looking at all information regarding the data
df.info

<bound method DataFrame.info of      Company \n(Maker-if known) Specific Bean Origin\nor Bar Name   REF  \
0                      A. Morin                       Agua Grande  1876
1                      A. Morin                             Kpime  1676
2                      A. Morin                            Atsane  1676
3                      A. Morin                             Akata  1680
4                      A. Morin                            Quilla  1704
...                         ...                               ...   ...
1790                     Zotter                              Peru   647
1791                     Zotter                             Congo   749
1792                     Zotter                      Kerala State   749
1793                     Zotter                      Kerala State   781
1794                     Zotter                Brazil, Mitzi Blue   486

      Review\nDate Cocoa\nPercent Company\nLocation  Rating Bean\nType  \
0             2016            63%            France    3.75         Â
1             2015            70%            France    2.75         Â
2             2015            70%            France    3.00         Â
3             2015            70%            France    3.50         Â
4             2015            70%            France    3.50         Â
...            ...            ...               ...     ...        ...
1790          2011            70%           Austria    3.75         Â
1791          2011            65%           Austria    3.00  Forastero
1792          2011            65%           Austria    3.50  Forastero
1793          2011            62%           Austria    3.25         Â
1794          2010            65%           Austria    3.00         Â

     Broad Bean\nOrigin
0              Sao Tome
1                  Togo
2                  Togo
3                  Togo
4                  Peru
...                 ...
1790               Peru
1791              Congo
1792              India
1793              India
1794             Brazil

[1795 rows x 9 columns]>

In [10]:
#looking at the structure head of the data set
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Â,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Â,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Â,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Â,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Â,Peru

In [11]:
# identifying the columns and rows.
df.shape

(1795, 9)

In [12]:
# searching for null values
df.isnull().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

In [13]:
# creating a subdata to see the nan value
missing_bean='Bean\nType'
rows_with_null = df[df['Bean\nType'].isnull()]

In [16]:
rows_with_null

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1544,Soma,"Three Amigos(Chuao, Wild Bolivia, D.R.)",676,2011,70%,Canada,4.0,NaN,"Ven, Bolivia, D.R."

In [17]:
# creating a subdata to see the nan value
missing_beanorg='Broad Bean\nOrigin'
rows_with_null2 = df[df['Broad Bean\nOrigin'].isnull()]

In [18]:
rows_with_null2

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1072,Mast Brothers,Madagascar,999,2012,72%,U.S.A.,2.5,Trinitario,NaN

In [24]:
# Checking for mixed data types
for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df[weird]) > 0:
        print(col)

Bean
Type
Broad Bean
Origin

C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\banda\AppData\Local\Temp\ipykernel_4340\983484196.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)

No mix datatype were found in this data type.

In [ ]:
#creating new subset that contains only duplicated
df_clean1_dup = df_clean1[df_clean1.duplicated()]

In [ ]:
df_clean1_dup

No duplicates were identified.

In [ ]:
df_clean1.describe()

In [ ]:
# review/n Date can be in date time data type
df_clean1['Review\nDate'].dtype

In [ ]:
df_clean1.dtypes

In [ ]:
df_clean1['Rating'] = df_clean1['Rating'].astype('float16')

In [ ]:
df_clean1['Rating'].dtypes

In [ ]:
df_clean1['REF'] = df_clean1['REF'].astype('int32')

In [ ]:
df_clean1['REF'].dtypes

In [ ]:
# checking if data type were changed
df_clean1.dtypes

In [ ]:
# Convert the 'Review\nDate' column to datetime
df_clean1['Review\nDate'] = pd.to_datetime(df_clean1['Review\nDate'], errors='coerce')

change columnn name from "REF" to Reference number"

In [ ]:
# changing column name 
df_clean1.rename(columns = {'REF' : 'Reference Number'}, inplace = True) #changing the name

In [ ]:
# checking if the data type changed? Yes
df_clean1['Review\nDate'].dtype

In [ ]:
df_clean1.head()

In [ ]:
# Find the minimum and maximum dates
min_date = df_clean1['Review\nDate'].min()
max_date = df_clean1['Review\nDate'].max()

In [ ]:
unique_countries_count = df_clean1['Company\nLocation'].nunique()

In [ ]:
min_date

In [ ]:
max_date

In [ ]:
# To check if there are any missing values in the entire DataFrame
if df_clean1.isnull().values.any():
    print("There are missing values in the DataFrame.")
else:
    print("No missing values found in the DataFrame.")

In [ ]:
# how many empty same in the coulumn ?
empty_space_count = df_clean1['Bean\nType'].astype(str).str.isspace().sum()
    
if empty_space_count > 0:
        print(f"Column 'Bean\\nType' has {empty_space_count} empty spaces.")
else:
        print("Column 'Bean\\nType' has no empty spaces.")

Column 'Bean\nType' has 887 empty spaces. they are missing value and since it is a large number we will not remove any of the row.

In [ ]:
print(unique_countries_count)

In [ ]:
print(f'The number of unique countries: {unique_countries_count}')

In [ ]:
#looking at unquie country where chocolate companies are located around the world 
unique_countries = df_clean1['Company\nLocation'].unique()
print(unique_countries)

In [ ]:
# which country has highest number of chocolate for rating? 
country_counts = df_clean1['Company\nLocation'].value_counts()
print(country_counts)

In [ ]:
CocoaPercent_counts = df_clean1['Cocoa\nPercent'].value_counts()
print(CocoaPercent_counts)

In [ ]:
df_clean1.head()

In [ ]:
df_clean1.isnull().sum()

In [ ]:
path=r'C:\Users\banda\Chocolate'

In [ ]:
#import clean Chocolate dataframe
df_clean1.to_csv(os.path.join(path, '02 Data','Prepared Data', 'chocoalate_clean.csv'))